body {
  background: #fff; }

.ui-sortable-handle:hover, .ui-sortable > div:hover {
  outline: 2px dashed #e2e2e2;
  outline-offset: 5px;
  cursor: move; }

[data-toggle="tooltip"] {
  cursor: help; }

a.bb-form-layout {
  margin-right: 30px;
  text-decoration: none; }

.bb-form-header {
  background: #464646;
  color: #fff;
  padding: 10px 15px; }

input.form-name {
  margin-left: 10px;
  text-indent: 5px;
  border: none;
  padding: 5px;
  width: 200px;
  color: #000; }

button.form-save {
  background: #e4d700;
  color: #524e02;
  border: none;
  font-weight: bold;
  padding: 5px 30px;
  text-transform: uppercase; }

.bb-form-options {
  background: #848484;
  padding: 0 15px;
  display: table;
  width: 100%;
  height: 32px; }

.form-layout {
  width: 360px; }

.form-style {
  margin-right: 10px; }

.bb-form-container {
  padding: 10px 20px; }

.form-preview {
  background: #464646;
  color: #fff;
  font-size: 17px;
  padding: 10px;
  text-transform: uppercase;
  text-align: center;
  top: 5px;
  position: relative; }

/* Unit Iframe */
#unit-iframe {
  width: 100%;
  border: none;
  height: calc(100vh - 130px); }

.select-fields-container {
  position: absolute;
  width: 40%;
  right: 0;
  top: 57px;
  bottom: 0;
  background: #eaeaea;
  padding: 10px; }

.setting-nav {
  background: #565656;
  color: #fff;
  padding: 10px 17px;
  margin: -10px;
  margin-bottom: 10px; }
  .setting-nav button {
    top: -8px;
    position: relative; }

.message {
  padding: 15px; }

a.bb-node-btn {
  float: right;
  margin-right: 10px;
  color: #a5a5a5;
  display: none; }

.jstree-default .jstree-anchor {
  width: 100%; }

.jstree-default .jstree-anchor:hover a.bb-node-btn {
  display: block; }

div#layers-tree {
  overflow-y: scroll;
  height: 100%; }

i.jstree-icon.jstree-ocl {
  display: none; }

.element-settings-tabs .tab-pane {
  padding: 10px;
  overflow-y: auto;
  height: 100%; }

[aria-selected="true"] > a > .bb-node-btn {
  display: block; }

.jsPanel.disabled:before {
  content: "";
  background: rgba(255, 255, 255, 0.57);
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 999; }

.bb-fields-list {
  margin: 10px; }

.bb-fields-list div {
  cursor: move;
  border: 1px dashed #b3b3b3;
  text-transform: capitalize;
  text-indent: 10px;
  margin-bottom: 10px;
  line-height: 35px;
  background: #f3f3f3;
  width: 200px;
  user-select: none; }

span.bb-node-wrapper {
  color: green; }

span.bb-node-row {
  color: #909018; }

span.bb-node-column {
  color: #00b5b3; }

span.bb-node-container {
  color: #8e81ff; }

.section-layout-select {
  padding: 10px; }
  .section-layout-select label {
    margin-right: 10px; }

.html-element-item {
  border: 1px solid #d0d0d0;
  background: #f1f1f1;
  border-radius: 3px;
  padding: 3px 10px;
  float: left;
  margin-right: 10px;
  user-select: none;
  cursor: move;
  font-size: 15px;
  margin-bottom: 10px;
  z-index: 999999999; }

.jstree-default a span {
  text-transform: capitalize; }

.bb-hover-marker {
  position: absolute;
  pointer-events: none;
  left: -20px; }

.bb-hover-marker-size {
  border: 2px solid #45ea65; }

.bb-hover-marker-padding {
  background: rgba(73, 191, 124, 0.32); }

.bb-hover-marker-margin {
  background: rgba(220, 137, 0, 0.32); }

.bb-hover-marker-element {
  position: absolute;
  top: -17px;
  background: #45ea64;
  left: 0;
  padding: 0 8px;
  font-size: 12px;
  color: #1f7b30;
  text-transform: lowercase; }

.element-settings-tabs {
  height: 100%; }

.element-settings-tabs .tab-content {
  height: calc(100% - 40px); }

.bb-node-action-menu {
  position: absolute;
  background: #4584ea;
  color: #fff;
  padding: 5px 10px;
  display: table;
  left: -200px; }
  .bb-node-action-menu i {
    float: right;
    cursor: pointer;
    margin-left: 5px;
    margin-right: 5px; }
  .bb-node-action-menu .bb-node-move {
    cursor: move; }

.bb-node-active-title {
  position: absolute;
  background: #4584ea;
  color: #fff;
  padding: 4px 10px;
  display: table;
  left: -2000px;
  font-size: 12px; }

.bb-column-resize-handler {
  position: absolute;
  width: 12px;
  height: 50px;
  background: #4584ea;
  border-radius: 5px;
  cursor: e-resize;
  right: -7px;
  top: calc(50% - 25px); }
  .bb-column-resize-handler:before {
    position: absolute;
    content: "";
    width: 4px;
    height: 23px;
    border: 1px dashed #fff;
    border-top: none;
    border-bottom: none;
    left: 4px;
    top: 13px;
    z-index: 9999; }

.bb-node-action-size {
  position: absolute;
  pointer-events: none;
  outline: 2px solid #4584ea;
  left: -200px; }

.bb-drop-placeholder {
  position: absolute;
  pointer-events: none;
  border: 2px solid #3567b9;
  left: -200px; }

.bb-drop-placeholder span {
  background: #3567b9;
  color: #fff;
  font-size: 11px;
  position: absolute;
  top: -8px;
  width: 70px;
  border-radius: 8px;
  text-align: center; }

.bb-type-panel {
  display: none; }

.class-item {
  font-size: 15px;
  float: left;
  margin-right: 10px;
  cursor: pointer;
  user-select: none;
  margin-bottom: 7px; }

.class-list {
  display: table;
  width: 100%; }

#css-editor {
  width: 100%;
  height: 200px; }

div#element-edit-panel {
  height: 100%;
  overflow-y: scroll; }

.apply-custom-class {
  line-height: 1;
  margin-top: -3px; }

#breadcrumb {
  list-style: none;
  display: inline-block;
  padding: 0;
  margin: 0;
  position: relative;
  top: 3px; }

#breadcrumb .icon {
  font-size: 14px; }

#breadcrumb > li {
  float: left;
  position: relative; }

#breadcrumb > li > a {
  color: #FFF;
  display: block;
  background: #3c3c3c;
  text-decoration: none;
  position: relative;
  height: 26px;
  line-height: 26px;
  padding: 0 15px 0 5px;
  text-align: center;
  margin-right: 23px; }

#breadcrumb > li:nth-child(even) > a {
  background-color: #3c3c3c; }

#breadcrumb > li:nth-child(even) > a:before {
  border-color: #3c3c3c;
  border-left-color: transparent; }

#breadcrumb > li:nth-child(even) > a:after {
  border-left-color: #3c3c3c; }

#breadcrumb > li:first-child > a {
  padding-left: 15px;
  -moz-border-radius: 4px 0 0 4px;
  -webkit-border-radius: 4px;
  border-radius: 4px 0 0 4px; }

#breadcrumb > li:first-child > a:before {
  border: none; }

#breadcrumb > li:last-child > a {
  padding-right: 15px;
  -moz-border-radius: 0 4px 4px 0;
  -webkit-border-radius: 0;
  border-radius: 0 4px 4px 0; }

#breadcrumb > li:last-child > a:after {
  border: none; }

#breadcrumb > li > a:before, #breadcrumb > li > a:after {
  content: "";
  position: absolute;
  top: 0;
  border: 0 solid #3c3c3c;
  border-width: 13px 10px;
  width: 0;
  height: 0; }

#breadcrumb > li > a:before {
  left: -20px;
  border-left-color: transparent; }

#breadcrumb > li > a:after {
  left: 100%;
  border-color: transparent;
  border-left-color: #3c3c3c; }

#breadcrumb > li > a:hover {
  background-color: #1abc9c; }

#breadcrumb > li > a:hover:before {
  border-color: #1abc9c;
  border-left-color: transparent; }

#breadcrumb > li > a:hover:after {
  border-left-color: #1abc9c; }

#breadcrumb > li > a:active {
  background-color: #16a085; }

#breadcrumb > li > a:active:before {
  border-color: #16a085;
  border-left-color: transparent; }

#breadcrumb > li > a:active:after {
  border-left-color: #16a085; }

#breadcrumb > li:last-child a {
  background: #fec108;
  color: #000;
  cursor: default;
  user-select: none;
  pointer-events: none; }

#breadcrumb > li:last-child a:before {
  border-color: #fec108;
  border-left-color: transparent; }

#breadcrumb li:hover .node-children {
  display: block; }

#breadcrumb .node-children {
  position: absolute;
  padding: 0;
  margin: 0;
  list-style: none;
  left: -20px;
  background: #ffffff;
  width: 90px;
  box-shadow: 0 0 1px 1px #3c3c3cc7;
  display: none; }

#breadcrumb .node-children a {
  color: #525252;
  text-decoration: none;
  padding-left: 8px;
  width: 100%;
  display: table; }

#breadcrumb .node-children a:hover {
  background: #525252;
  color: #fff; }

#breadcrumb > li i.fa-caret-down {
  position: absolute;
  top: 5px;
  right: 20px;
  color: #fff; }

.bb-breadcrumb-action-menu {
  position: absolute;
  left: -20000px;
  color: #fff;
  background: #3c3c3c;
  padding: 1px 10px;
  border-radius: 4px; }
  .bb-breadcrumb-action-menu i {
    margin: 0 4px;
    cursor: pointer; }

a.bb-edit-text {
  color: #fff;
  background: #464646;
  border-radius: 5px;
  padding: 1px 10px;
  margin-top: 2px;
  text-decoration: none; }

a.bb-edit-text i {
  color: #e5d802; }

#code-editor {
  height: 100%; }

/*# sourceMappingURL=html-builder.css.map */
